{% load static %}
{% load profile_helpers %}

<html lang="en">
<head>
    <link rel="icon" type="image/png"  href="{% static 'essen/img/eagle.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>German House</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'essen/css/dh.css' %}">

    {% block script %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'home:home' %}"class="navbar-brand" href="#">German House</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'menu:index'%}"> Menu </a></li>
            <li><a href="{% url 'recipes:index'%}"> Recipes </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'home:edit_profile' %}">{{user|member_or_none}}</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}"> Login </a></li>
            {% endif %}
        </ul>
    </div>
</nav>

    {% block content%}

    {% endblock %}

</body>
</html>