{% extends 'essen/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container py-3 py-sm-5">
    <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6">

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}

            <div class="card shadow bg-light">
                <div class="card-body">


                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        {% with field=form.username %}
                        <div class="row mb-3">
                            <div class="col">
                                {% render_field field|add_class:'form-control' placeholder=field.label %}
                            </div>
                        </div>
                        {% endwith %}

                        {% with field=form.password %}
                        <div class="row mb-3">
                            <div class="col">
                                {% render_field field|add_class:'form-control' placeholder=field.label %}
                            </div>
                        </div>
                        {% endwith %}

                        <input class="btn btn-primary w-100" type="submit" value="Login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                    <div class="row row-cols-1 mt-1 justify-content-center">
                        <div class="col">
                            <a class="btn btn-dark w-100" role="button" href="{% url 'mit:auth' %}?next={{ next }}">
                                Login using MIT Certificate
                            </a>
                        </div>

                        <div class="col mt-4 mb-2 d-flex justify-content-center">
                            <a class="link-secondary" href="{% url 'password_reset' %}">
                                Reset Password
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}