{% extends 'essen/base.html' %}

{% block script %}
<style type="text/css">
  .table-login > tbody > tr > td {
    padding: 8px;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
<div class="row">

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="table-login">
        <div class="form-group">
          <tr>
            <td style="padding-left: 0px">{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
        </div>

        <tr>
          <td style="padding-left: 0px">{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
        </table>

        <input class="btn btn-primary" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>



{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

</div>
</div>

{% endblock %}