/* Gallery Carousel */
.carousel-inner img {
    object-fit: cover;
    background-color: var(--bs-secondary);
}

.carousel-caption {
    text-shadow: 0 .125rem .75rem black;
}

/* Members Card */
#members .card-img-top {
    max-height: 50vh;
    object-fit: cover;
}

/* i3 Videos */
#i3 .card {
    overflow: hidden;
}

#i3 .card .card-body h5 {
    margin-bottom: 0;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
}

.video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}