
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'recipes/js/edit_script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}">
<div>
    <ul class = 'navbar'>
        <li><a href="{% url 'menu:index'%}"> Menu </a></li>
        <li><a href="{% url 'recipes:index'%}"> Recipes </a></li>
    </ul>
</div>

<form id="edit_form" action="{% url 'recipes:submit_recipe'%}" method="post" onsubmit="return validateForm()">
{% csrf_token %}
    <div>
        <label for='recipe_name'>Name:</label>
        <input type="text" id="recipe_name" name="recipe_name">
        <label for='serving_size'>Serving Size:</label>
        <input type="number" id="serving_size" name="serving_size">
    </div>

    <div>
        <label for='directions'>Directions:</label>
        <input type="text" id="directions" name="directions">
    </div>

    <div id="div_1" class="ing_div">
        <label for='Ingredient_0'>Ingredient:</label>
        <input type="text" id="Ingredient_0" name="Ingredient">
        <label for='Quantity_0'>Quantity:</label>
        <input type="number" id="Quantity_0" name="Quantity">
        <label for='Unit_0'>Unit:</label>
        <input type="text" id="Unit_0" name="Unit">
        <label for="div_1" class="remove"> &#x2717 </label>
    </div>
    <input id="submit" type="submit" value="Submit"/>
</form>

<button type="button" onclick="addIngredient()">Add Ingredient</button>
