{% extends 'essen/base.html' %}

{% load static %}

{% block script %}
<script>
    function getCookie(name) {
        let cookieValue = null;

        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }

        return cookieValue;
    }

    // Delete recipe confirmation
    function deleteRecipe() {
        let confirmed = confirm('Are you absolutely sure you want to delete this recipe? This can\'t be undone.');
        if (!confirmed) {
            return;
        }

        fetch("{% url 'recipes:delete' recipe.id %}", {
            method:'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        }).then((response) => {
            if (response.status == 200) {
                window.location.href = "{% url 'recipes:index' %}";
            } else {
                alert(`Failed to delete recipe (${response.status} ${response.statusText}).`);
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="container-xxl py-5">
    <div class="row">
        <!-- Left column -->
        <div class="col-lg-2"> </div>
        
        <!-- Center column -->
        <div class="col-lg-8" id="meal">
            {% include 'recipes/components/recipe.html' with show_serves='True' %}
        </div>

        <!-- Right column -->
        <div class="col-lg-2 mt-3 mt-lg-0 sticky-lg-top h-100" style="top: 24px;">
            {% if steward %}
            <nav class="nav flex-column">
                <a class="nav-link" href="{% url 'recipes:edit' recipe.id %}">Edit Recipe</a>
                <a class="nav-link" href="#" onclick="deleteRecipe()">Delete Recipe</a>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

