{% extends 'essen/base.html' %}

{% load static %}

{% block script %}
<script>
    // Move sidebar on scroll
    function setScrolling(id) {
        $(function() {
            var $meal = $("#meal");
            var $element = $("#" + id),
                $window = $(window),
                offset = $element.offset(),
                topPadding = 15;

            $window.scroll(function () {
                console.log("sidebar" + $element.position().left);
                console.log("meal" + $meal.position().left);
                if ($element.position().left != $meal.position().left && $window.scrollTop() > offset.top) {
                    $element.stop().animate({
                        duration: 0,
                        marginTop: $window.scrollTop() - offset.top + topPadding
                    });
                } else {
                    $element.stop().animate({
                        duration: 0,
                        marginTop: 0
                    });
                }
            });
        });
    };
    setScrolling("functions");

    function getCookie(name) {
        let cookieValue = null;

        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }

        return cookieValue;
    }

    // Delete recipe confirmation
    function deleteRecipe() {
        let confirmed = confirm('Are you absolutely sure you want to delete this recipe? This can\'t be undone.');
        if (!confirmed) {
            return;
        }

        fetch("{% url 'recipes:delete' recipe.id %}", {
            method:'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        }).then((response) => {
            if (response.status == 200) {
                window.location.href = "{% url 'recipes:index' %}";
            } else {
                alert(`Failed to delete recipe (${response.status} ${response.statusText}).`);
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" id="meal">
        <div class="panel panel-default" id="{{recipe}}">
            <div class="panel-heading"><h2>{{recipe}}</h2> <p>Serves {{recipe.serving_size}}</p></div>
            <div class="panel-body">
                <h3>Ingredients</h3>
                <table class="table table-striped">
                {% for ingredient in recipe.ingredient_set.all %}
                    <tr>
                        <td>{{ingredient}}</td>
                        <td>{{ ingredient.quantity}}</td>
                        <td>{{ingredient.units}}</td>
                    </tr>
                {% endfor %}
                </table>
                <h3>Directions</h3>
                <div style="white-space: pre-wrap">{{ recipe.directions }}</div>
            </div>
        </div>
    </div>


    <div class="col-sm-1" id="functions">
        {% if steward %}
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'recipes:edit' recipe.id %}">Edit Recipe</a>
            </li>

            <li>
                <a onclick="deleteRecipe()">Delete Recipe</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

