{% extends 'essen/base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'recipes/js/edit_script.js'%}"></script>


<div class="row">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <div class="text-center">
                        <h3>{{recipe}}</h3>
                    </div>
                </div>

                <div class="panel panel-body">
                    <form class="form-control-group" id="edit_form" action="{% url 'recipes:submit_edit' recipe.id %}"
                          method="post" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div style="margin: 15px; text-align: right">
                                    <label for="recipe_name">Name:</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="recipe_name" name="recipe_name"
                                       value="{{ recipe.recipe_name }}" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div style="margin: 15px; text-align: right">

                                    <label for='serving_size'>Serving Size:</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input min="1" class="form-control" type="number" id="serving_size"
                                       name="serving_size"
                                       value="{{ recipe.serving_size }}" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div style="margin: 15px; text-align: right">

                                    <label for='directions'>Directions:</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <textarea rows="10" class="form-control" type="text" id="directions" name="directions"
                                          value="{{ recipe.directions }}" required>{{ recipe.directions }}</textarea>

                            </div>
                        </div>
                        <div class="text-center" id="submit_div" style="margin-top:20px;">
                            <button class="btn btn-default" type="button" onclick="addIngredient()">Add Ingredient</button>
                        </div>
                        <div class="row" style="margin-top:10px;" id="ingredient_list">
                            {% for ingredient in recipe.ingredient_set.all %}
                            <div id="div_{{forloop.counter}}" class="ing_div">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div style="margin: 15px; text-align: right">
                                            <label for='ingredient_{{forloop.counter}}'>Ingredient:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" id="ingredient_{{forloop.counter}}"
                                               name="ingredient" ,
                                               value="{{ ingredient.ingredient_name }}" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <div style="margin: 15px; text-align: right">
                                            <label for='quantity_{{forloop.counter}}'>Quantity:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="number" id="quantity_{{forloop.counter}}"
                                               name="quantity"
                                               , value="{{ ingredient.quantity }}" required>
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="margin: 15px; text-align: right">
                                            <label for='units_{{forloop.counter}}'>Unit:</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" id="units_{{forloop.counter}}"
                                               name="units"
                                               ,
                                               value="{{ ingredient.units }}" required>
                                    </div>
                                    <div class="col-sm-1">
                                        <label for="div_{{forloop.counter}}" class="remove"> &#x2717 </label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary" id="submit" type="submit" value="Save Edits"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}