{% extends 'essen/base.html' %}

{% load static %}
{% load menu_extras %}

{% block script %}
{% autoescape off %}

{% endautoescape %}
<script src="{% static 'recipes/js/searchbar.js'%}" charset="UTF-8"></script>
{% endblock %}

{% block content %}
<body>
<div class="container">
<div class="row">

    <div class="col-sm-12" style="padding: 10 15 20 15">
        <div class="col-sm-12">
            <input value="" id="searchbar" onkeyup="searchbarFilter()" name="searchbar" class="form-control"  type="text" placeholder="Recipe name..." aria-label="Search">
        </div>
    </div>

    <div class="col-sm-2"> </div>

    <div class="col-sm-8">
        <div class="text-center">
            <div class="list-group" id="recipe-list">
            {% for recipe in recipe_list %}
                <a href="{% url 'recipes:detail' recipe.id %}" class="list-group-item list-group-item-action" id="{{recipe.recipe_name}}"> {{recipe.recipe_name}} </a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            {% if user.is_authenticated %}
            <li><a href="{% url 'recipes:add_recipe' %}">Add Recipes!</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
