{% load widget_tweaks %}

<div class="col-12 ingredient-col">
  <div class="row">
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <div class="col input-group pe-0">
      {% render_field form.quantity|add_class:'form-control form-quantity' placeholder=form.quantity.label min='0' %}
      {% render_field form.unit|add_class:'form-control form-unit' placeholder=form.unit.label list='datalist-units' %}
    </div>
    <div class="col col-8">
      <div class="input-group">
        {% render_field form.name|add_class:'form-control' placeholder=form.name.label %}
        <button type="button" class="btn btn-danger remove-button" onclick="deleteIngredient(this)">
          <span class="close-icon"></span>
        </button>
      </div>
    </div>
  </div>
</div>