{% load recipe_tags %}

<div class="card shadow recipe-container" id="recipe_{{recipe.id}}">
  <div class="card-header">
    <h2 class="my-2">{{recipe.name}}</h2>
    {% if show_serves %}
    <h5 class="mb-2 text-muted">Serves {{recipe.serving_size}}</h5>
    {% endif %}
  </div>

  <div class="card-body">
    <h4 class="card-title">Ingredients</h4>
    <table class="table table-striped recipe-table">
      <colgroup>
        <col style="width: 5rem;">
        <col style="width: 5rem;">
        <col style="width: auto">
      </colgroup>
    {% for ingredient in recipe.ingredient_set.all %}
      <tr class="quantity" data-quantities='{% data_quantities_str ingredient=ingredient %}'>
        <td class="magnitude noselect">{{ingredient.magnitude_str}}</td>
        <td class="unit noselect">{{ingredient.unit_str}}</td>
        <td>{{ingredient.name}}</td>
      </tr>
    {% endfor %}
    </table>

    <h4 class="card-title mt-4">Directions</h4>
    <p class="card-text" style="white-space: pre-wrap">{{ recipe.directions }}</p>
  </div>
</div>