<!DOCTYPE html>


{% extends 'essen/base.html' %}
{% load static %}

{% block script %}

<script src="{% static 'menu/js/add_menu.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}">

{% endblock %}

<body>

{%block content%}
{% if user.is_authenticated %}
    {% if steward %}
        <form class="form-horizontal" id="edit_form" action="{% url 'menu:submit_menu'%}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="start_date">Enter the Menu Start Date: </label>
                <div class="col-sm-2">
                    <input class="form-control" type="date" id="start_date" name="start_date" oninput="validateDate()" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="start_date">Serving size: </label>
                <div class="col-sm-2">
                    <input class="form-control" type="number" id="serving_size" name="serving_size" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="start_date">Notes displayed on shopping list: </label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="notes" name="notes"></textarea>
                </div>
            </div>

            <button class="btn btn-primary" type="button" id="add_day_menu" onclick="addDayMenu()">Add Meal</button>
            <input class="btn btn-primary" id="submit" type="submit" value="Submit"/>
        </form>

        <datalist id="recipe_choices">
        {% for recipe in recipe_choices %}
            <option value='{{recipe}}'>
        {% endfor %}
        </datalist>

    {% else %}
        <h4>Only cookcrew stewards can make menus.</h4>
    {% endif %}
{% else %}
    <h4><a href="{% url 'login'%}?next={{request.path}}">Login to make menus.</a></h4>
{% endif %}


<select id='day_selector' style="visibility: hidden;">
        <option value='Sunday Brunch'>Sunday Brunch</option>
        <option value='Sunday Dinner'>Sunday Dinner</option>
        <option value='Monday Dinner'>Monday Dinner</option>
        <option value='Tuesday Dinner'>Tuesday Dinner</option>
        <option value='Wednesday Dinner'>Wednesday Dinner</option>
        <option value='Thursday Dinner'>Thursday Dinner</option>
</select>

{% endblock %}
</body>
<!--<button type="button" onclick="addIngredient()">Add Ingredient</button>-->
