
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}">
<script src="{% static 'menu/js/autolateplate.js' %}"></script>


<div>
    <ul class = 'navbar'>
        <li><a href="{% url 'menu:index'%}"> Menu </a></li>
        <li><a href="{% url 'recipes:index'%}"> Recipes </a></li>
    </ul>
</div>


<h2>Register for Automatic Lateplates</h2>

<div>
    Any changes will go into effect starting with <strong>next</strong> week's menu.
</div>

<form id="auto_lateplate_form" action="{% url 'menu:submit_auto_lateplates'%}" method="post">
{% csrf_token %}
    <label for="username">Display Name: </label>
    <input id="username" name="username" type="text">

    <label for="days">Days: </label>
    <input id="days" name="days" type="text">

    <input id="submit" type="submit" value="Submit"/>
</form>


<button onclick="showRemove()">Remove Auto Late Plates</button>
<div id="remove_auto_lateplates" hidden>
    Please click the entry you would like to remove.
    <ul>
    {% for user in autolateplate_list %}
        <li><a href="{% url 'menu:remove_auto_lateplates' user.id %}" onclick="return validate()">{{ user }}</a></li>
    {% endfor %}
    </ul>
</div>


