
{% extends 'essen/base.html' %}

{% load static %}

{% block content %}
<body>
    <div style='margin:10px;'>
    {% if user.is_authenticated %}
        <link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}">
        <script src="{% static 'menu/js/autolateplate.js' %}"></script>
        <h2>{{user.get_full_name}}'s Automatic Lateplates</h2>

        <div>
            Any changes will go into effect starting with <strong>next</strong> week's menu.
        </div>

        <form id="auto_lateplate_form" action="{% url 'menu:submit_auto_lateplates'%}" method="post">
            {% csrf_token %}
            {% for day in days %}
            <div class="checkbox">
              <label><input type="checkbox" name="date" value="{{day.day}}" {% if day.state %} checked {% endif %}>{{day.day}}</label>
            </div>
            {% endfor %}

            <h3>Add Dietary Restrictions:</h3>
            {% for restriction in d_restrictions %}
            <div class="checkbox">
              <label>
                  <input type="checkbox" name="dietary" value="{{restriction.restriction}}"
                            {% if restriction.state %} checked {% endif %}>{{restriction.restriction}}
              </label>
            </div>
            {% endfor %}
            <input class="btn btn-primary" id="submit" type="submit" value="Save"/>
        </form>
    {% else %}
        <h4><a href="{% url 'login'%}?next={{request.path}}">Login to add automatic lateplates.</a></h4>
    {% endif %}
    </div>
</body>
{% endblock %}