{% extends 'essen/base.html' %}
{% block content %}

<!-- Title -->
<div class="container py-5">
    <div class="row text-center">
        <h1 class="my-0">Menu Reviews</h1>
    </div>
</div>

<!-- Ratings -->
<div class="container pb-5">
    <div class="row row-cols-1 row-cols-xl-2 g-4">

    {% for meal in ratings %}
        <div class="col" id="meal">
            <div class="card shadow h-100 overflow-hidden">
                <div class="card-header">
                    <div class="d-flex gap-4 justify-content-between align-items-center">
                        <h4 class="my-2">{{meal.meal}}</h4>
                        <h4 class="my-2">{{meal.overall_rating|floatformat:"1"}}</h4>
                    </div>

                    <ul class="list-inline">
                    {% for recipe in meal.meal.recipes.all %}
                        <li class="list-inline-item">
                            <a href="{% url 'recipes:detail' recipe.id %}" class="link-dark">{{recipe}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

                <div class="card-body">
                    <table class="table table-striped">
                        <colgroup>
                            <col style="width: 5rem">
                            <col style="width: auto">
                            <col style="width: 2rem">
                        </colgroup>

                        {% for comment in meal.comments %}
                        <tr>
                            <td><b>{{comment.username}}</b></td>
                            <td style="white-space: pre-wrap;">{{comment.comment}}</td>
                            <td class="text-end"><b>{{comment.rating}}</b></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    {% endfor %}
    
    </div>
</div>
{% endblock %}
