<!DOCTYPE html>
{% extends 'essen/base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'menu/css/style.css' %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<!--graciously modified from https://codepen.io/anon/pen/XwBvoq-->
<div class="container">
<div class="row">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <div class="text-center">
                        <h3>Rate {{meal}}</h3>
                    </div>
                </div>

                <div class="panel panel-body">
                    <form action="{% url 'menu:submit_rating' meal.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div style="margin: 15px; text-align: right">
                                    <label for="star-input">*Rating</label>
                                </div>
                            </div>
                            <div class="col-sm-10" id="star-input">
                                <div class="rate">
                                    <input type="radio" id="star10" name="rate" value="10"/>
                                    <label for="star10" title="text">10 stars</label>
                                    <input type="radio" id="star9" name="rate" value="9"/>
                                    <label for="star9" title="text">9 stars</label>
                                    <input type="radio" id="star8" name="rate" value="8"/>
                                    <label for="star8" title="text">8 stars</label>
                                    <input type="radio" id="star7" name="rate" value="7"/>
                                    <label for="star7" title="text">7 stars</label>
                                    <input type="radio" id="star6" name="rate" value="6"/>
                                    <label for="star6" title="text">6 stars</label>
                                    <input type="radio" id="star5" name="rate" value="5"/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4"/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3"/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" required/>
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div style="margin: 15px; text-align: right">
                                    <label for="comment-box">Comments</label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="comment-box" name="comment-box"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <input style="margin-top:10px;" class="btn btn-primary" type="submit" value="Submit review">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h6><small>
                <div style="text-align: right;">
                Only one review, per meal, per user is allowed. Subsequent reviews of the same meal
                    by the same user overwrite previous ones.
                </div>
            </small></h6>
        </div>
    </div>
</div>
</div>

{% else %}
<h2>You must log in to view this page</h2>
{% endif %}

{% endblock %}