{% extends 'essen/base.html' %}

{% load static %}
{% load menu_extras %}
{% load recipe_tags %}

{% block title %}
  Shopping List
{% endblock %}

{% block style %}
  <style type="text/css">
    table#shopper td {
      vertical-align: middle;
    }

    .table tr.striped > td {
      box-shadow: inset 0 0 0 9999px var(--bs-table-striped-bg);
    }

    .table > tbody > tr.ghost > td {
      border: 0;
      padding: 0;
      background-color: transparent;
    }

    .unit {
      font-variant-numeric: tabular-nums;
    }

    .quantity-table { width: 100%; border: 0; }
    .quantity-table > tbody > tr > td { padding-top: 0; padding-bottom: 0;}
    .quantity-table > tbody > tr > td.magnitude { width: 4.5rem; text-align: right; font-weight: 600; padding-right: 4px; }
    .quantity-table > tbody > tr > td.unit { width: 5.5rem; text-align: left; font-weight: 600; padding-left: 4px; }

    .sub-table > tbody > tr > td.magnitude { width: 4.5rem; ; text-align: right; padding-right: 4px; }
    .sub-table > tbody > tr > td.unit { width: 5.5rem; text-align: left; padding-left: 4px; }
    .sub-table > tbody > tr > td.name { width: auto; }
    .sub-table > tbody > tr > td.recipe { width: 40%; }
  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    // Auto collapse table
    $(function() {
      $('#ingredients [data-bs-toggle="collapse"]').click(function() {
        $('#ingredients .collapse.show').collapse('hide');
      });
    });

    // Change units when user clicks on the unit or magnitude cell.
    $(function() {
      $("tr.quantity > td.unit, tr.quantity > td.magnitude").click(function() {
        let row = $(this).parent();
        let currentIndex = row.data("index");
        let quantities = row.data("quantities") ;
        
        if (quantities.length == 0) return;
        if (currentIndex === undefined) {
          // Set the initial index
          if (quantities.length > 1) {
            let initialUnit = $(".unit", row).text();
            if (quantities[0][1] == initialUnit) {
              currentIndex = 0;
            } else {
              currentIndex = -1;
            }
          }
        }

        let newIndex = (currentIndex + 1) % quantities.length;
        row.data("index", newIndex);

        $(".magnitude", row).text(quantities[newIndex][0]);
        $(".unit", row).text(quantities[newIndex][1]);
      });
    });
  </script>
{% endblock %}


{% block content %}

<!-- Title -->
<div class="container py-5">
  <div class="row text-center">
  {% if after_meal %}
    <h1 class="my-0">Required ingredients after {{after_meal.name}}</h1>
  {% else %}
    {% if menu.notes %}
    <h1>Shopping List</h1>
    <p style="white-space: pre-wrap;">{{menu.notes}}</p>
    {% else %}
    <h1 class="my-0">Shopping List</h1>
    {% endif %}
  {% endif %}
  </div>
</div>

<!-- Shopping List -->
<div class="container-xxl pb-5">
  <div class="row">
    <div class="col-lg-2"></div>

    <!-- Shopping List -->
    <div class="col-lg-8" id="ingredients">
      <div class="card shadow overflow-hidden">
        <table class="table table-light m-0" id="shopper">
          <colgroup>
            <col style="width: 10rem">
            <col style="width: auto">
          </colgroup>

        {% for c_ingredient in ingredients %}
          <tr class="{% cycle 'striped' '' %}">
            <td class="px-0">
              <table class="table table-borderless m-0 quantity-table"> 
              {% for q in c_ingredient.quantities %}
                <tr class="quantity" data-quantities='{% data_quantities_str quantity=q %}'>
                  <td class="magnitude noselect">{{ q.magnitude_str }}</td>
                  <td class="unit noselect">{{ q.unit_str }}</td>
                </tr>
              {% endfor %}
              </table>
            </td>
            <td class="name" data-bs-toggle="collapse" data-bs-target="#collapse_{{forloop.counter}}">{{ c_ingredient.name }}</td>
          </tr>

          <tr class="ghost">
            <td colspan="2">
              <div id="collapse_{{forloop.counter}}" class="collapse">
                <div class="py-2 border-bottom">
                  <table class="table table-borderless mb-0 sub-table">
                  {% for ingredient in c_ingredient.ingredients %}
                    <tr class="quantity" data-quantities='{% data_quantities_str ingredient=ingredient %}'>
                      <td class="magnitude noselect">{{ ingredient.magnitude_str }}</td>
                      <td class="unit noselect">{{ ingredient.unit_str }}</td>
                      <td class="name">{{ ingredient.name }}</td>
                      <td class="recipe"><a href="{% url 'menu:display_meal' ingredient.recipe.meal.id %}#recipe_{{ingredient.recipe.id}}">{{ ingredient.recipe.name }}</a></td>
                    </tr>
                  {% endfor %}
                  </table>
                </div>
              </div>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2" class="text-center p-3" style="font-size: 1.5rem;">None</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
{% endblock %}