{% extends 'essen/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Edit Profile
{% endblock %}

{% block content %}

<div class="container py-4 py-sm-5">

{% if edit_access %}

  <div class="row justify-content-center">
    <div class="col-md-10">

      <!-- Title -->
      <div class="row">
        <div class="col">
          <h4>Edit Profile</h4>
          <h5 class="text-secondary">{{ member.user.get_full_name }}</h5>
          <hr>
        </div>
      </div>

      <!-- Profile -->
      <div class="row g-4 justify-content-center">

        <!-- Profile Pic -->
        <div class="col col-lg-3 pe-lg-3">
          <div class="ratio ratio-1x1 rounded border bg-secondary">
          {% if member.image %}
            <img src="{{member.image.url}}" style="object-fit: cover;" />
          {% endif %}
          </div>

          <button type="button" class="btn btn-outline-primary mt-2 w-100" data-bs-toggle="modal" data-bs-target="#pfpModal">
            Change Profile Picture
          </button>

          <!-- Modal -->
          <div class="modal fade" id="pfpModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Upload Profile Picture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% crispy image_form %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="image_form" form="image_form">Upload</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Data Form -->
        <div class="col col-12 ps-lg-4 col-lg-9">
          {% crispy data_form %}
        </div>
      </div>

    </div>
  </div>

{% else %}
  <div class="alert alert-warning" role="alert">
    Due to profile trolling, you are not allowed to edit your profile. For desired changes, contact your webmaster.
  </div>
{% endif %}

</div>

{% endblock %}


