{% extends 'essen/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Dining Settings
{% endblock %}

{% block content %}

<div class="container py-4 py-sm-5">

<div class="row justify-content-center">
<div class="col-md-10">

  <!-- Title -->
  <div class="row">
    <div class="col">
      <h4>Dining Settings</h4>
      <h5 class="text-secondary">{{ member.user.get_full_name }}</h5>
      <hr>
    </div>
  </div>

  <!-- Content -->
  <div class="row g-4 justify-content-center">

    <!-- Other Stuff -->
    <div class="col">
      {% crispy form %}
    </div>
  </div>

</div>
</div>


</div>

{% endblock %}


