{% extends 'essen/base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'home/css/home.css'%}">
<script src="{% static 'home/js/home.js'%}"></script>
{% endblock %}

{% block content %}

<!-- Navigation Header -->
<div class="container py-5">
    <div class="row text-center">
        <h1>Welcome to German House!</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#i3">i3 Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>

<!-- Gallery -->

    <div class="row row-cols-2 row-cols-md-3 g-3 pt-4">
        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/iap2020brunch.jpg'%}">
                <p>A group of DHers ventured out to go to brunch during IAP 2020!</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/em_ginny_elaine.jpg'%}">
                <p>DH at 2018 Ring Delivery</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/applepicking2.jpg'%}">
                <p>MIT wide trip to apple picking, ft. DH</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/cookcrew.jpg'%}">
                <p>We celebrate Oktoberfest by cooking traditional foods so we can feast and invite friends!</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/skating.jpg'%}">
                <p>Halloween ice skating at an event called Spooky Skate!</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/dh.jpg'%}">
                <p>A reg-day trip to The Friendly Toast, yum!</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/dhfreshmen.jpg'%}">
                <p>Our wonderful 2022s!</p>
            </div>
        </div>

        <div class="col">
            <div class="img-container shadow-sm rounded">
                <img class="w-100" src="{% static 'home/img/apples.jpg'%}">
                <p>No firemen had to be called to get us down from these apple trees!</p>
            </div>
        </div>
    </div>
</div>

<!-- About Us -->
<div class="container py-5" id="about">
    <div class="row pb-3 text-center">
        <h1>About Us</h1>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 g-3">
        <div class="col">
            <h3>Living</h3>
            In German House, you'll live with 28 students in an independent community inside New House. We eat
            together, play music together, speak German with poor accents together, and fight through psets
            together. We're into playing games with each other, from smash, to jackbox games, codenames, and
            more. One of the great things about German House is that the community is small enough to know everyone,
            but large enough that there is always someone in the lounge to hang out with.
        </div>
        <div class="col">
            <h3>Cookcrew</h3>
            German House keeps you well-fed with home-cooked meals. You will become a member of a cook crew of 4
            or 5 people, and cook for everyone once a week in the best kitchen of any dorm here at MIT. The rest of
            the week, you will benefit from the culinary skills of other members. On any given night, our meal could
            include quinoa salads, fried rice, honey-glazed baked chicken, oreo truffles, and sometimes even the
            occasional surprise created from any extra ingredients left over from the week. You can check out
            our recipes <a href="{% url 'recipes:index' %}">here!</a>
        </div>
        <div class="col">
            <h3>Culture</h3>
            German House members come from all over the world. People here grew up speaking English, German,
            Chinese, Swahili, Korean and more. Several of us speak a fluent German, and others have taken German
            classes in high school and MIT. Our common interest in the culture ties us all together -- some
            people spend entire summers working in Germany; while some travel to Germany over IAP. Others simply want
            to practice the occasional German on duolingo, or even just watch German movies once in a while.
        </div>
    </div>
</div>

<!-- Members -->
<div class="container py-5" id="members">
    <div class="row pb-3 text-center">
        <h1>Members</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for member in members %}
            <div class="col" id="{{member.user.username}}">
                <div class="card h-100 shadow-sm bg-body">
                    <img class="card-img-top" src="{{member.image.url}}">
                    <div class="card-body">
                        <h5 class="card-title">{{member}}</h5>
                         <h6 class="card-subtitle mb-2 text-muted">Class of {{member.class_year}}</h6>
                          <h6 class="card-subtitle mb-2 text-muted">Course {{member.major}}</h6>
                        <p class="card-text">{{member.bio}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- i3 Videos -->
<div class="container py-5" id="i3">
    <div class="row pb-3 text-center">
        <h1>i3 Videos</h1>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card video-card h-100 bg-body">
                <div class="video-container">
                    <iframe class="video" src="https://www.youtube.com/embed/CFB-ICLAVLM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h5>2018</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card video-card h-100 bg-body">
                <div class="video-container">
                    <iframe class="video" src="https://www.youtube.com/embed/ZcZtQI8OVL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h5>2015</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card video-card h-100 bg-body">
                <div class="video-container">
                    <iframe class="video" src="https://www.youtube.com/embed/t44I8ApCy6c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h5>2014</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="container py-5" id="contact">
    <div class="row pb-3 text-center">
        <h1>Contact</h1>
    </div>

    <div class="row">
        <p>
            <strong>DH President:</strong> dh-president [dot] mit [dot] edu <br>
            <strong>DH Housing</strong> dh-housing [dot] mit [dot] edu <br>
            <strong>Webmaster:</strong> dh-webmaster [dot] mit [dot] edu <br>
            <a href="https://adminappsts.mit.edu/facilities/CreateRequest.action?sapSystemId=PS1">Click here to make a work request.</a>
        </p>
    </div>
</div>

{% endblock %}