<!DOCTYPE html>

{% extends 'essen/base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<script src="{% static 'home/js/home.js' %}"></script>

{% endblock %}

<html>
{% block content %}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="text-center">
            <h1>Welcome to German House!</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/camping.png'%}">
                    </div>
                    <div class="col-sm-6" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/brassrats.jpg'%}">
                    </div>
                    <div class="col-sm-6" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/applepicking2.jpg'%}">
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/cookcrew.jpg'%}">
                    </div>
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/skating.jpg'%}">
                    </div>
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/dh.jpg'%}">
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/dhfreshmen.jpg'%}">
                    </div>
                    <div class="col-sm-12" style="padding:5px">
                        <img width="100%" src="{% static 'home/img/apples.jpg'%}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="text-center">
            <h1>Members</h1>
            <table class="table">
                {% for member in members %}
                hi
                <tr>
                    <td class="col-sm-4"><img style="max-width:50%;" src="{{member.image.url}}"></td>
                    <td class="col-sm-2">{{member}} <br> {{member.class_year}} <br> {{member.major}} </td>
                    <td class="col-sm-6">{{member.bio}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

<!--<div class="row">-->
<!--    <div class="col-sm-1"></div>-->
<!--    <div class="col-sm-10">-->
<!--        <div class="text-center">-->
<!--            <h1>Welcome to German House!</h1>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




{% endblock %}
</html>